<div class='resizer layer'></div>
<div class='console-outer layer'>
  <div class='console-toolbox'>
    <div class='console-tabs'>
      <div class='console-tab console-tab-active' title='console'>console</div>
      <div class='console-tab' title='help'>config</div>
    </div>
    <div class='console-actions'>
      <div class='minimize-button button' title='minimize'>-</div>
      <div class='close-button button' title='close'>x</div>
    </div>
  </div>
  <div class='console-inner'></div>
</div>
<input class='clipboard' type='text'>
